# List Model

In [3]:
import os

models = [
    name for name in os.listdir('model')
    if os.path.isdir(os.path.join('model', name))
]

print(models)

['Model 1', 'Model 2']

# Pilih Model

In [8]:
import pickle

model = {}
kode = ["indo", "mtk", "inggris"]

for m in kode:
    model[m] = pickle.load(open(f"model/{models[0]}/{m}.pkl", 'rb'))

model

{'indo': MLPRegressor(hidden_layer_sizes=4, max_iter=1000, random_state=1),
 'mtk': MLPRegressor(hidden_layer_sizes=4, max_iter=1000, random_state=1),
 'inggris': MLPRegressor(hidden_layer_sizes=4, max_iter=1000, random_state=1)}

# Format Data

In [9]:
import pandas as pd

dfformat = pd.read_excel('flaskr/static/xlsx/format.xlsx')
dfformat

Empty DataFrame
Columns: [jurusan, nisn, nama, indo1, indo2, indo3, indo4, mtk1, mtk2, mtk3, mtk4, inggris1, inggris2, inggris3, inggris4]
Index: []

# Inisiasi Data yang akan diprediksi

In [12]:
df = dfformat.copy()

import random
from faker import Faker

fake = Faker()

jumlah_data = 100
data = []

for _ in range(jumlah_data):
    row = {
        "jurusan": random.choice(["RPL", "TKJ", "MM"]),
        "nisn": fake.unique.random_int(min=1000000000, max=9999999999),
        "nama": fake.name()
    }

    for mapel in ["indo", "mtk", "inggris"]:
        for i in range(1, 5):
            row[f"{mapel}{i}"] = random.randint(50, 98)
    
    data.append(row)

# Isi df yang sebelumnya kosong
df = pd.DataFrame(data, columns=df.columns)

In [13]:
df

,jurusan,nisn,nama,indo1,indo2,indo3,indo4,mtk1,mtk2,mtk3,mtk4,inggris1,inggris2,inggris3,inggris4
0,TKJ,6089080180,Nancy Peck,78,61,54,89,71,61,52,97,70,97,84,69
1,MM,7464251801,Heidi Hall,93,81,79,84,63,83,71,94,73,61,80,87
2,TKJ,2319729231,Zachary Hughes,54,65,77,74,77,63,77,94,60,78,76,62
3,TKJ,2911202430,Brian Solis,92,75,73,60,50,97,90,72,84,96,88,61
4,TKJ,7498254016,Adam Morris,76,74,69,72,51,67,76,84,59,97,86,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,TKJ,1478932420,Sarah Wallace,53,78,78,60,64,67,73,79,68,51,91,71
96,RPL,8988116361,Donald Austin,90,57,89,63,89,62,90,57,60,91,75,56
97,RPL,2706622771,Ms. Carolyn Esparza,68,71,88,95,70,57,58,95,79,76,84,83
98,RPL,4436043600,Alexis Santos,83,87,55,57,78,97,95,61,91,51,88,69
99,RPL,5153851722,Kimberly Goodman,96,83,56,54,70,94,59,91,73,76,85,90

# Prediksi Data

In [14]:
for m in kode:
    fitur = df[[f"{m}1", f"{m}2", f"{m}3", f"{m}4"]]
    df[m] = model[m].predict(fitur)

df

d:\Project\2025\06-Juni\02-Zulfa\backprosiswa\.venv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but MLPRegressor was fitted without feature names
  warnings.warn(
d:\Project\2025\06-Juni\02-Zulfa\backprosiswa\.venv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but MLPRegressor was fitted without feature names
  warnings.warn(
d:\Project\2025\06-Juni\02-Zulfa\backprosiswa\.venv\Lib\site-packages\sklearn\utils\validation.py:2732: UserWarning: X has feature names, but MLPRegressor was fitted without feature names
  warnings.warn(

,jurusan,nisn,nama,indo1,indo2,indo3,indo4,mtk1,mtk2,mtk3,mtk4,inggris1,inggris2,inggris3,inggris4,indo,mtk,inggris
0,TKJ,6089080180,Nancy Peck,78,61,54,89,71,61,52,97,70,97,84,69,99.625672,98.566546,50.060490
1,MM,7464251801,Heidi Hall,93,81,79,84,63,83,71,94,73,61,80,87,94.620175,82.239941,96.675477
2,TKJ,2319729231,Zachary Hughes,54,65,77,74,77,63,77,94,60,78,76,62,80.656533,105.775271,51.520147
3,TKJ,2911202430,Brian Solis,92,75,73,60,50,97,90,72,84,96,88,61,71.054549,50.894052,49.424458
4,TKJ,7498254016,Adam Morris,76,74,69,72,51,67,76,84,59,97,86,66,76.681573,82.157892,43.711468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,TKJ,1478932420,Sarah Wallace,53,78,78,60,64,67,73,79,68,51,91,71,55.509647,80.742174,90.739904
96,RPL,8988116361,Donald Austin,90,57,89,63,89,62,90,57,60,91,75,56,94.341854,78.058669,34.684202
97,RPL,2706622771,Ms. Carolyn Esparza,68,71,88,95,70,57,58,95,79,76,84,83,108.177967,101.641701,84.332939
98,RPL,4436043600,Alexis Santos,83,87,55,57,78,97,95,61,91,51,88,69,47.408831,52.025679,96.090645
99,RPL,5153851722,Kimberly Goodman,96,83,56,54,70,94,59,91,73,76,85,90,52.888720,68.376479,89.567167

# Untuk mengatasi data kosong

In [17]:
# Kolom identitas diisi dengan '-'
df[["jurusan", "nisn", "nama"]] = df[["jurusan", "nisn", "nama"]].fillna("-")

# Kolom nilai semester diisi dengan 0
for m in ["indo", "mtk", "inggris"]:
    for i in range(1, 5):
        df[f"{m}{i}"] = df[f"{m}{i}"].fillna(0)

df

,jurusan,nisn,nama,indo1,indo2,indo3,indo4,mtk1,mtk2,mtk3,mtk4,inggris1,inggris2,inggris3,inggris4,indo,mtk,inggris
0,TKJ,6089080180,Nancy Peck,78,61,54,89,71,61,52,97,70,97,84,69,99.625672,98.566546,50.060490
1,MM,7464251801,Heidi Hall,93,81,79,84,63,83,71,94,73,61,80,87,94.620175,82.239941,96.675477
2,TKJ,2319729231,Zachary Hughes,54,65,77,74,77,63,77,94,60,78,76,62,80.656533,105.775271,51.520147
3,TKJ,2911202430,Brian Solis,92,75,73,60,50,97,90,72,84,96,88,61,71.054549,50.894052,49.424458
4,TKJ,7498254016,Adam Morris,76,74,69,72,51,67,76,84,59,97,86,66,76.681573,82.157892,43.711468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,TKJ,1478932420,Sarah Wallace,53,78,78,60,64,67,73,79,68,51,91,71,55.509647,80.742174,90.739904
96,RPL,8988116361,Donald Austin,90,57,89,63,89,62,90,57,60,91,75,56,94.341854,78.058669,34.684202
97,RPL,2706622771,Ms. Carolyn Esparza,68,71,88,95,70,57,58,95,79,76,84,83,108.177967,101.641701,84.332939
98,RPL,4436043600,Alexis Santos,83,87,55,57,78,97,95,61,91,51,88,69,47.408831,52.025679,96.090645
99,RPL,5153851722,Kimberly Goodman,96,83,56,54,70,94,59,91,73,76,85,90,52.888720,68.376479,89.567167